/* sets the header to my desired color */
.header{
    width: 100%;
    padding: 20px;
    background-color: 647687;
}



/* sets the list on the side for the nav bar */
ul{
    text-align: right;
    color:white;
}
li{
    
    display: flex;
    justify-content: flex-end;
    display: inline;
}
/* .nav{
    



} */