/* sets the header to my desired color */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: white;
    
}



/* sets the list on the side for the nav bar */
nav ul{
    text-align: right;
    color: white;
    margin: 0;
    padding: 0;
}
nav li{
    
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    display: inline;
}
nav a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}
