*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: burlywood;
}

h1{
    font-size: 50px;
    text-align: center;
    border-bottom: solid 10px;
    
    
}
/* sets the header to my desired color */
header{
    display: flex;
    font-family:'Times New Roman', Times, serif;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 1;
    background-color: #13293d;
    color: white;
    
}

 img{
     border-radius: 30%;
    margin: auto;
    width: 300px;
    height: 300px;
} 



/* sets the list on the side for the nav bar */
nav ul{
    text-align: right;
    color: white;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
}
/* puts the about me, work, contact info in the top right part of the nav bar */
nav li{
    
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    display: inline;
}
/* Changes the links from blue underlined to Bold white text */
nav a{
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}
/* makes the buttons on the nav bar highlight when hovering over them. */
a:hover{
    color: darkcyan;
}
/* div{
    box-sizing: content-box;
    width: 100%;
    border: 15px solid green;
    margin: 20px;
} */
#About-Me p{
    /* box-sizing: content-box; */
    /* width: 100%; */
    border: 10px solid #647687;
    margin: 10px;
  
}
#Contact-Info p{
    
    /* width: 100%; */
    border: 10px solid #647687;
    margin: 10px;
}
